@import url('https://rsms.me/inter/inter.css');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: InterVariable, system-ui, sans-serif;
	--font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';

	--animate-shrink: shrink linear forwards;

	@keyframes shrink {
		from {
			width: 100%;
		}
		to {
			width: 0%;
		}
	}
}
